
- let finishedRaces = finishedRaceData

h1 Recently Completed Races

//- iterate through each race object in the races array
each race in finishedRaces  
  .race
    h1.gameTitle #{race.gameTitle}
    p.raceGoal Goal: #{race.goal}
    p.startTime Race started at #{race.simpleTime}
    
    //- iterate through each user object enetered in each race
    - let entrants = race.entrants
    
    .raceEntrants
      each user in entrants
        ul.entrantFinished
          - if (user.place === 9998)
            li Forfeit
          - else
            li #{user.place}
          li #{user.name}
          - if (user.place !== 9998)
            li #{user.time}
