
- let ongoingRaces = ongoingRaceData

h1 Currently Ongoing Races

//- iterate through each race object in the races array
each race in ongoingRaces  
  - let multiTwitch = 'http://multitwitch.tv'
  .race
    h1.gameTitle #{race.gameTitle}
    p.raceGoal Goal: #{race.goal}
    p.raceStatus Race Status: #{race.status}
    - if (race.status !== 'Entry Open')
      p.raceTime Race Start Time: #{race.simpleTime}
    p.numEntrant Number of entrants: #{race.entrants.length}
    
    //- iterate through each user object enetered in each race
    - let entrants = race.entrants
    
    .raceEntrants
      each user in entrants
        
        button.entrantDropDown #{user.name} &#9660
        ul.raceEntrant
          li.entrantName Name: #{user.name}
          li.entrantPoints Total Points Bet: #{user.betTotal}
          li.entrantStatus Race Status: #{user.status}
          - if (user.status === 'Finished')
            li.entrantPostition Finished in position: #{user.place} 
          - if (user.twitch)
            - multiTwitch += `/${user.twitch}`
            - let twitchLink = `https://twitch.tv/${user.twitch}`
            li.entrantTwitch Twitch username: 
              a.userTwitchLink(href=twitchLink target='_blank') twitch.tv/#{user.twitch}
    
    - if (multiTwitch !== 'http://multitwitch.tv')          
      a.multiTwitchLink(href=multiTwitch target='_blank') Multitwitch Link
