
- let openRaces = openRaceData

h1 Currently Open Races

//- iterate through each race object in the races array
each race in openRaces  
  .race
    h1.gameTitle #{race.gameTitle}
    p.raceGoal Goal: #{race.goal}
    p.raceStatus Race Status: #{race.status}
    - if (race.status !== 'Entry Open')
      p.raceTime Race Start Time: #{race.simpleTime}
    p.numEntrant Number of entrants: #{race.entrants.length}
    
    //- iterate through each user object enetered in each race
    - let entrants = race.entrants
    
    .raceEntrants
      each user in entrants
        
        button.entrantDropDown #{user.name} &#9660
        ul.raceEntrant
          li.entrantName Name: #{user.name}
          li.entrantPoints Total Points Bet: #{user.betTotal}
          li.entrantStatus Race Status: #{user.status}
          - if (user.status === 'Finished')
            li.entrantPostition Finished in position: #{user.place} 
          li.entrantTwitch Twitch username: #{user.twitch}
