extends layout

block content
    img(src=`${user.avatar}` alt=`${user.twitchUsername}'s avatar` id="profileAvatar")
    h1 #{user.twitchUsername}'s profile
    h2 #{user.points} points
    span Bet History
    ul#betHistory
        each bet in user.betHistory
            li #{bet.result} #{bet.date}: #{bet.amountBet} on #{bet.entrant} to win #{bet.raceId}
    span Follow List
    ul#followList
        each follow in user.following
            li #{follow}