extends layout

block content
  
  - let races = raceObj
  
  //- iterate through each race object in the races array
  each race in races
    .race
      h1.gameTitle #{race.gameTitle}
      p.raceGoal Goal: #{race.goal}
      p.raceStatus Race Status: #{race.status}
      - if (race.status !== 'Entry Open')
        p.raceTime Race Start Time: #{race.timeStarted}
      p.numEntrant Number of entrants: #{race.entrants.length}
      
      //- iterate through each user object enetered in each race
      .raceEntrants
      
      - let entrants = race.entrants
      
      each user in entrants
        ul
          li Name: #{user.name}
          li Total Points Bet: #{user.betTotal}
          li Race Status: #{user.status}
          - if (user.status === 'Finished')
            li Finished in position: #{user.place} 
          li Twtich username: #{user.twitch}
